BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 84a1d5271cf2

CREATE TYPE userrole AS ENUM ('ADMIN', 'EDITOR', 'AUDITOR');

CREATE TABLE users (
    id UUID NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    hashed_password VARCHAR(255) NOT NULL, 
    role userrole NOT NULL, 
    is_active BOOLEAN NOT NULL, 
    totp_secret VARCHAR(32), 
    is_2fa_enabled BOOLEAN NOT NULL, 
    failed_login_attempts INTEGER NOT NULL, 
    account_locked BOOLEAN NOT NULL, 
    last_login_at TIMESTAMP WITHOUT TIME ZONE, 
    created_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    updated_at TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    PRIMARY KEY (id)
);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE TABLE audit_logs (
    id UUID NOT NULL, 
    event_type VARCHAR(100) NOT NULL, 
    user_id UUID, 
    module VARCHAR(100) NOT NULL, 
    description VARCHAR(255) NOT NULL, 
    timestamp TIMESTAMP WITHOUT TIME ZONE NOT NULL, 
    ip_address VARCHAR(45), 
    details JSON, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id)
);

INSERT INTO alembic_version (version_num) VALUES ('84a1d5271cf2') RETURNING alembic_version.version_num;

COMMIT;

